/* Landing Page */

.grid-container{
  display: grid;
  grid-template-areas:
    'reg pic';
  grid-gap: 1rem; 
  margin: 0 2rem;
}

.grid-container h1 {
font-size: 2rem;
padding-top:5rem;

}

.m-top-landing {
  margin-top:10rem;
}

.reg{
padding:20px;
background-color:#F3CE00;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
}

.pic {
background:#F3CE00;
}